* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#sitecontainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#contentcontainer {
  margin-left: 300px;
  width: 100%;
  /* background-color: deeppink; */
}

#navdiv {
  position: fixed;
  background-color: #282828;
  max-width: 300px;
  min-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

#mainlogo {
  width: 100%;
  padding: 10px;
}

#navdiv ul {
  padding-bottom: 1rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: right;
  font-size: 1.75rem;
}

#navdiv ul li {
  background-color: #282828;
  padding-right: 0.25rem;
  transition: 0.1s;
}

#navdiv ul li:hover {
  color: #d4b15d;
  cursor: pointer;
  transform: translate(10px);
}

#navdiv ul li a {
  text-decoration: none;
}

.NavLink:link {
  text-decoration: none;
  color: white;
}

.NavLink:visited {
  text-decoration: none;
  color: white;
}

#navdiv ul li .active {
  color: #d4b15d;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal:hover {
  cursor: pointer;
}

.modalframe {
  background-color: white;
  border-style: dashed;
  border-width: 10px;
  border-color: #d4b15d;
}

.modalframe:hover {
  cursor: default;
}

.modalheader {
  /* height: 50px; */
  text-align: right;
}

.modalheader:hover {
  cursor: pointer;
}

.modaliframe {
  margin: 30px;
}
