@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media (min-width: 751px) {
  #homediv {
  }

  #mobilediv {
    display: none;
  }

  #contentdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #showreelcontainer {
    position: relative;
    width: 90%;
  }

  #showreelcontainer img {
    width: 100%;
  }

  #iframecontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #showreel {
    aspect-ratio: 16 / 9 !important;

    width: 90%;
  }
}

@media (max-width: 750px) {
  #contentdiv {
    margin-top: 200px;
  }
  #mobilediv {
    display: none;
  }
  #showreelcontainer {
    position: relative;
    width: 100%;
  }

  #showreelcontainer img {
    width: 100%;
  }

  #iframecontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #showreel {
    aspect-ratio: 16 / 9 !important;

    width: 90%;
  }
}
